#!{{ lookPath "bash" }}
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") -}}
# Builds all arch packages.
# Based on: https://disconnected.systems/blog/archlinux-meta-packages/#git-repository-and-scripting-the-build
#
# Hashes of the packages:
# spencerrais-base: {{ include "arch-packages/spencerrais-base/PKGBUILD" | sha256sum }}
# spencerrais-desktop: {{ include "arch-packages/spencerrais-desktop/PKGBUILD" | sha256sum }}
# spencerrais-devel-base: {{ include "arch-packages/spencerrais-devel-base/PKGBUILD" | sha256sum }}

set -uo pipefail
trap 's=$?; echo "$0: Error on line "$LINENO": $BASH_COMMAND"; exit $s' ERR

PACKAGES=${@:-{{ .chezmoi.sourceDir }}/arch-packages/spencerrais*}

for package in $PACKAGES; do
    cd "$package"
    rm -f *.pkg.tar.xz
    yay -U --noconfirm
    cd -
done

if ! [[ $SHELL == *"zsh"* ]]; 
then
  echo "Changing default shell to zsh"
  sudo chsh -s $(which zsh)
fi

{{ end }}

{{/* vim: set filetype=bash: */}}
