#!/usr/bin/env bash
set -euo pipefail

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") -}}
sudo pacman -Syu --needed --noconfirm git base-devel mise chezmoi

if ! command -v paru >/dev/null 2>&1; then
  tmpdir="$(mktemp -d)"
  trap 'rm -rf "$tmpdir"' EXIT

  git clone https://aur.archlinux.org/paru.git "$tmpdir/paru"
  cd "$tmpdir/paru"
  makepkg -si --noconfirm
fi
{{ else if eq .chezmoi.os "darwin" -}}
if ! command -v brew >/dev/null 2>&1; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew install mise chezmoi
{{ end -}}
