tap "homebrew/core"
tap "homebrew/cask-fonts"

brew "neovim", args: ["HEAD"]
brew "chezmoi"
brew "fzf"
brew "fd"
brew "starship"
brew "wget"
brew "zsh"
brew "sd"
brew "python"
brew "tmux"
brew "nodejs"
brew "ripgrep"
brew "podman"
brew "git"
brew "lefthook"
brew "direnv"
brew "awscli"

cask "font-hack-nerd-font"
cask "spotify"
cask "alacritty"
cask "brave-browser"
cask "1password"
cask "podman-desktop"
{{- if .isGCP }}
cask "google-cloud-sdk"
{{ end -}}
