[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
	signingkey = "~/.ssh/id_ed25519"
[core]
	editor = vim
	excludesfile = "~/.config/git/gitignore"
	autocrlf = input
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[pull] 
	rebase = true
[merge]
	conflictStyle = zdiff3
[color]
	ui = auto
[rebase]
	autosquash = true
	autostash = true
	updateRefs = true
[init]
  	defaultBranch = main
[merge]
  	ff = only
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[alias]
	nah = "!git reset --hard && git clean -df"
	undo = "reset --soft HEAD~1"
	amend = "commit --amend --no-edit"
	unstash = "stash pop"
[gpg]
	format = ssh
[commit]
	verbose = true
[help]
	autocorrect = prompt
