[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
	signingkey = "~/.ssh/id_ed25519.pub"
[core]
	editor = vim
	excludesfile = "~/.config/git/gitignore"
	autocrlf = input
[push]
	default = current
[fetch]
	prune = true
[pull] 
	rebase = true
[color]
	ui =auto
[rebase]
	autosquash = true
[init]
  	defaultBranch = main
[merge]
  	ff = only
[diff]
  	colorMoved = zebra
[alias]
	nah = "!git reset --hard && git clean -df"
	undo = "reset --soft HEAD~1"
[commit]
	gpgsign = true
[gpg]
	format = ssh
[tag]
	gpgSign = true
[help]
	# Auto-correct Git typos, leaving one second to interrupt the suggestion with Ctrl+C.
	# Found here: https://wikis.world/@LucasWerkmeister/110865161641795531
	autocorrect = 10
