[settings]
experimental = true
minimum_release_age = "7d"
python.uv_venv_auto = true
idiomatic_version_file_enable_tools = []

[tools]
python = "3.13"
go = "latest"
node = "latest"
uv = "latest"

"usage" = "latest"
"lefthook" = "latest"

"go:github.com/spencerrais/utree/cmd/ut" = "latest"
