[system.packages]
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") }}
"pacman:chezmoi" = "latest"
"pacman:git" = "latest"
"pacman:wget" = "latest"

"pacman:atuin" = "latest"
"pacman:fd" = "latest"
"pacman:fzf" = "latest"
"pacman:github-cli" = "latest"
"pacman:jq" = "latest"
"pacman:starship" = "latest"

"pacman:neovim" = "latest"
"pacman:tmux" = "latest"
"pacman:zsh" = "latest"
"pacman:zsh-autosuggestions" = "latest"

"pacman:docker" = "latest"
"pacman:docker-compose" = "latest"

"pacman:spotify-launcher" = "latest"
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
"brew:chezmoi" = "latest"
"brew:git" = "latest"
"brew:wget" = "latest"

"brew:atuin" = "latest"
"brew:fd" = "latest"
"brew:fzf" = "latest"
"brew:gh" = "latest"
"brew:jq" = "latest"
"brew:starship" = "latest"

"brew:neovim" = "latest"
"brew:tmux" = "latest"
"brew:zsh-autosuggestions" = "latest"

"brew:docker" = "latest"
"brew:docker-compose" = "latest"
{{ end }}
